:root{
    --ash-color:#404956;
    --btn-color: #F16A4F;
    --emi-color:#f5efef;

}
.top-section{
    background: #D5D5D5;
    
}
.group-icon{
    padding: 1.3rem;
    margin-top: 2px;
    font-size: medium;
}
h3 span{
    color: rgb(23, 201, 237);
}
.search-input {
    background: #FFFFFF;
    border-radius: 8px;
    padding: .8rem;
    width: 600px;
    border: none;
    position: absolute;
    border: none;
}
.scearch-btn{
    position: absolute;
    background: #F16A4F;
    padding: 7px;
    border: none;
    display: flex;
    left: 900px;
}
.myaccdiv{
    display: flex;  
}
.myacc-img-head{
    position: absolute;
    
}
.myacc-img-icon{
    position: absolute;
}
.myacc-heading{
    padding: 5px 3px  4px 5px;
    font-size: 18px;
    font-weight: 600;
}
.cartdiv{
    display: flex;
    position: absolute;
    border-left: 1px solid #646464;
    left: 1200px;
    height: 40px;
    top: 22px;
}
.carttitle{
    font-size: 18px;
    font-weight: 600;
    padding: 7px;
}
.cart-img{
    bottom: 40px;
}
nav{
    background: var(--ash-color);
}
nav ul{
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
}
.main-home {
    display: flex;
    color: var(--ash-color) ;
    font-weight: 500;
    gap: 15px;
    padding-left: 100px;
    
}

.icon-svg {
    display:flex;
    padding-top: 40px;
   justify-content: center;
   align-items:center;
   height: 80px;
   gap: 12px;
   padding-left: 90px;
}
.page{
    background: #F5F5F5;
}
.wishlist{
    border: 1px solid #D5D5D5;
    border-radius: 5px;
   font-size: 12px;
   display: flex;
   gap: 2px;
   height: 35px;
   width: 150px;
   justify-content: center;
   align-items: center;
}
.click-btn {
    background: var(--btn-color);
    border: none;
}
.ipohnegb{
    border:1px solid var(--ash-color);
    border-radius: 5px;
    height: 35px;
}
.ipohnegbright{
    background: var(--ash-color);
    color:#ffff;
}
.emi{
    background: var(--emi-color);
    border-radius: 8px;
}
.emi h5{
    color: var(--btn-color);
}
.emi .learn-btn{
   color: #fcfcfc;
}
.delivery{
    display: flex;
}
.carpic{
    width: 60px;
    height: 50px;
    padding: 3px;
}