*{
    margin: 0;
    padding: 0;
}
:root{
    --ash-color:#404956;
    --btn-color: #F16A4F;
    --emi-color:#f5efef;
    --price-color:#D9D9D9;

}
.top-section{
    background: #D5D5D5;
    
}
.group-icon{
    padding: 1.3rem;
    margin-top: 2px;
    font-size: medium;
}
h3 span{
    color: rgb(0, 213, 255);
}
.search-input {
    background: #FFFFFF;
    border-radius: 8px;
    padding: .8rem;
    width: 603px;
    border: none;
    position: absolute;
    border: none;
}
.scearch-btn{
    position: absolute;
    background: #F16A4F;
    padding: 7px;
    border: none;
    display: flex;
    left: 900px;
}
.myaccdiv{
    display: flex;  
}
.myacc-img-head{
    position: absolute;
    left: 1045px;
    top: 36px;
    
}
.myacc-img-icon{
    position: absolute;
    left: 1040px;
    top: 46px;
}
.myacc-heading{
    padding: 5px 3px  4px 5px;
    font-size: 18px;
    font-weight: 600;
}
.cartdiv{
    display: flex;
    position: absolute;
    border-left: 1px solid #646464;
    left: 1200px;
    height: 40px;
    top: 22px;
}
.carttitle{
    font-size: 18px;
    font-weight: 600;
    padding: 7px;
}
 .cartbody{
    position: absolute;
    left: 20px;
    top: 10px;
    color: blue;
 }
.cart-img{
    bottom: 40px;
}
nav{
    background: var(--ash-color);
}
nav ul{
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
}
.main-home {
    display: flex;
    color: var(--ash-color) ;
    font-weight: 500;
    gap: 15px;
    padding-left: 100px;
    
}

.icon-svg {
    display:flex;
    padding-top: 40px;
   justify-content: center;
   align-items:center;
   height: 80px;
   gap: 12px;
   padding-left: 90px;
}
.page{
    background: #F5F5F5;
}
.wishlist{
    border: 1px solid #D5D5D5;
    border-radius: 5px;
   font-size: 12px;
   display: flex;
   gap: 2px;
   height: 35px;
   width: 150px;
   justify-content: center;
   align-items: center;
}
.click-btn {
    background: var(--btn-color);
    border: none;
}
.ipohnegb{
    border:1px solid var(--ash-color);
    border-radius: 5px;
    height: 35px;
}
.ipohnegbright{
    background: var(--ash-color);
    color:#ffff;
}
.emi{
    background: var(--emi-color);
    border-radius: 8px;
}
.emi h5{
    color: var(--btn-color);
}
.emi .learn-btn{
   color: #fcfcfc;
}
.delivery{
    display: flex;
}
.carpic{
    width: 60px;
    height: 50px;
    padding: 3px;
}
.bordercheck{
    border: 1px solid red;
}
.regular-price{
    background: var(--price-color);
    color: #545151;
    border: none;
    border-radius: 4px;
}
.product-code{
    position: absolute;
    left: 950px;
   top: 905px;
}
.addtocart{
    background: #605d5d;
    color: #F5F5F5;
    border-radius: 8px;
    border: none;
    font-size: 15px;
}
.one{
    width: 10px;
    padding-top: 3px;
}
/* second page */
.secondpage-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 50px;
    font-size: 25px;
    font-weight:700 ;
}
.spacifiction{
    padding: 8px;
    border-bottom: 6px solid #F16A4F;
}
.side-pic{
    padding-right: 100px;
}
/* thirdpage */
.modelpicture{
    height: 100vh;
    background-image: url(modeltwo.png),linear-gradient(rgba(0,0,0.2),rgb(62, 57, 57));
}
.bring-light{
    font-size: 100px;
    padding-top: 30px;
    line-height: 95px;
}
.footerpara{
    width: 500px;
    color: #929090;
    padding-top: 30px;
}